<ul class="breadcrumb">
  <li>
  <%= link_to "Punjab", compliance_report_province_path('punjab'), :method => :get %> <span class="divider">/</span>
  </li>
  <li>		
  <%= link_to "#{@district.name.titleize}", compliance_report_district_path(@district) %> <span class="divider">/</span>
  </li>
</ul>

<div>
	<b>
	Required Number of Forms for LHS in month = 100
</b>
<b style="margin-left: 50px">
	Number of forms required for LHS per day = 5
	</b>
</div>

<div>
	<b>
	Required Number of Forms for LHS in month = 100
</b>
<b style="margin-left: 50px">
	Number of forms required for LHS per day = 5
	</b>
</div>

<br>

<b>
	Compliance Percentage Formula = (Forms submitted / Required Number of Forms) * 100
</b>

<div>
<b>
	Attendance Percentage Formula = Forms submitted / ( (current_date - sundays) * forms required in a day ) * 100
</b>
</div>

<%= render  :partial => 'partials/compliance_controls', :locals => { parent: @district } %>

<div id="chart"><%= render  :partial => 'over_all_compliance_table_report', locals: { :collection => @district } %>
</div>