<ul class="breadcrumb">
  <li>
  <%= link_to "Punjab", compliance_report_province_path('punjab'), :method => :get %> <span class="divider">/</span>
  </li>
  <li>		
  <%= link_to "#{@district.name.titleize}", compliance_report_district_path(@district) %> <span class="divider">/</span>
  </li>
</ul>

<div>
	<b>
	Required number of forms for FPO per month = 54
</b>
<b style="margin-left: 50px">
	Number of forms required for FPO per day = 3
	</b>
</div>

<div>
	<b>
	Required number of forms per LHS per month = 100
</b>
<b style="margin-left: 50px">
	Number of forms required for LHS per day = 5
	</b>
</div>

<br>

<b>
	Calculation for compliance percentage = (forms submitted / required number of forms) * 100
</b>

<div>
<b>
	Calculation for attendance percentage = (forms submitted / current_date - sundays)  * 100
</b>
</div>

<%= render  :partial => 'partials/compliance_controls', :locals => { parent: @district } %>

<div id="chart"><%= render  :partial => 'over_all_compliance_table_report', locals: { :collection => @district } %>
</div>