<ul class="breadcrumb">
  <li>
	<%= link_to "Punjab", compliance_report_province_path('punjab'), :method => :get %> <span class="divider">/</span>
  </li>
  <li class="active">
	<%= @district.name.titleize %>
  </li>
</ul>

<div class="page-header"> <h1> <%= @district.name.titleize %> <div id="visualization_type" class="pull-right" style="font-weight:normal;">Overall Barchart - Compliance Report</div></h1> </div>


<div id="chart_div" style="height: 900px;"></div>
<br/>


<script type="text/javascript">

google.load("visualization", "1", {packages:["corechart"]});
google.setOnLoadCallback(drawChart);
function drawChart() {
	var test = <%= raw JSON.parse(@final_array.to_json) %>;
	console.log(test);
	var data = google.visualization.arrayToDataTable(test);

	var options = {
		title: 'Graph',
		vAxis: {title: 'Visitors',  titleTextStyle: {color: 'red'}}
	};

	var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
	chart.draw(data, options);
}
</script>